* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Raleway;
}

:root {
    --text-color: rgb(27, 27, 27);
    --primary-color: #7FAD39;
    --secondary-color: #2d4705;

}


/* Default */

input:focus,
select:focus,
button:focus,
textarea:focus {
    outline: none;
}


.container {
    display: flex;
    flex-wrap: wrap;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 14px;
    padding: 2px 5px;
}

button {
    display: inline-block;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 100%;
    font-weight: 700;
}

/* dropdown elements */

.dp {
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.dp-label {
    padding: 5px 12px;
    border: 0px;
    background-color: rgb(233, 233, 233);
    border-radius: 4px;
}

.dp-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 2.1em;
    min-width: 100%;
    background-color: #eee;
}


/* Page */

/* Header */

.head-bar {
    width: 100%;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.head-info,
.head-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.head-info a,
.head-content a {
    display: flex;
    align-items: center;
    color: var(--primary-color);
    font-weight: 600;
    padding: 4px 12px;
}

.link {
    transition: .8s linear;
}

.link:hover {
    background-color: #1c1c1c;
    color: white;
}

.line {
    margin: 0 20px;
    height: 20px;
    width: 2px;
}

.ico {
    width: 26px;
    padding: 2px;
    margin: 0 2px;
}

.sale {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.2px;
}

.lang {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 6px 12px;
    border-radius: 6px;
    background-color: var(--primary-color);
}


/* Category */

.cat {
    cursor: pointer;
    display: inline-block;
    position: relative;
    background-color: var(--secondary-color);
    width: 320px;
    margin-left: 20px;
    padding: 6px 8px;
    height: 50px;
    transition: .6s linear;

}

.cat:hover {
    display: block;
}

.cat:hover .cat-menu {
    display: block;
}

.cat-label {
    padding: 6px 18px;
    border: 0px;
    background-color: var(--primary-color);
    text-align: center;
    font-size: 22px;
    font-weight: 500;
}

.cat-menu {
    z-index: 2;
    display: none;
    position: absolute;
    left: 0;
    top: 50px;
    min-width: 100%;
    background-color: var(--primary-color);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 6px 18px;
}

.ct-menu {
    padding: 4px 6px;
}

.cat-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.cat-item p {
    font-size: 18px;
    margin: 2px 0;
    text-transform: uppercase;
}

.cat-item img {
    display: none;
    width: 24px;
    height: 24px;
    margin-left: 15px;
    transition: .6s linear;

}

.cat-item:hover img {
    display: block;
}

.apply {
    width: 100%;
    background-color: transparent;
    padding: 8px 16px;
    text-align: center;
    border: 2px solid var(--secondary-color);
}

.apply:hover {
    background-color: var(--secondary-color);
}

/* Navbar */

.nav-bar {
    height: 50px;
    width: 1000px;
    /* background-color: #7FAD39; */
    margin-left: 10px;
}

.nav-menu {
    height: 50px;
    padding: 2px 6px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}


.nav-item a {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.4px;
}

.nav-item {
    transition: .6s ease-in-out;
}

.nav-item:hover {
    background-color: var(--primary-color);
}

/* Logo */

.logo {
    height: 50px;
    width: 320px;
    text-align: center;
}

.logo img {
    padding: 0 20px;
    height: 45px;
    background-color: rgb(235, 235, 235);
}

/* Shops */

.shop-box {
    width: 560px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;

}

.box-cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.box-cart li {
    margin: 0 4px;
    padding: 4px 4px;
    border-radius: 12px;
    transition: background-color .6s;
}

.box-cart li:hover {
    background-color: #b3bfdb;
}


.box-cart li a img {
    width: 30px;
    margin: 4px;
}

.box-cart li a span {
    margin-left: -10px;
    font-size: 18px;
    font-weight: bold;
}

.solde span {
    font-weight: bold;
    font-size: 22px;
}

/* Utils */

.utils {
    margin-top: 10px;
}

/* Searchbox */

.search-box {
    margin-left: 100px;
    width: 980px;
    height: 50px;
    border: 1px solid #ebebeb;
    position: relative;
}

.search-box form input {
    width: 100%;
    border: none;
    height: 48px;
    font-size: 16px;
    color: #141414;
    padding-left: 20px
}

.search-btn {
    position: absolute;
    right: 0;
    height: 50px;
    width: 320px;
    margin-top: -1px;
    margin-right: -1px;
}

.search-btn:hover {
    background-color: var(--primary-color);
}

/* Mini - Contact */

.mini-contact {
    width: 420px;
    padding: 0 20px;
    margin: 0 30px;
    display: flex;
    align-items: center;
}

.img-call img {
    width: 46px;
}

.calls {
    display: flex;
    flex-direction: column;
}

.call-numb {
    margin: 0 10px;
    font-size: 18px;
    font-weight: 600;
}

.horaire {
    font-size: 20px;
    font-weight: bold;
    text-decoration-line: underline;
}


/* Produits */

/* Products */

.products {
    margin: 20px;
}

.product-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product-link {
    width: 340px;
    height: 260px;
}



.product-item {
    margin: 10px 5px;
    width: 340px;
    height: 260px;
    border-radius: 12px;
    transition: 1.2s ease-in-out;
}

.product-item:hover {
    background-color: #2d4705;

}

.product-item:hover a .img-box {
    scale: 1.2;
}

.img-box {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 300px;
}

.img-box img {
    width: 80%;
}

.price {
    position: absolute;
    z-index: 2;
    margin-top: -70px;
    font-size: 22px;
    font-weight: bold;
    background-color: #b3bfdb;
    padding: 4px 8px;
    border-radius: 8px;
}

.name {
    margin-top: -30px;
    position: absolute;
    z-index: 2;
    padding: 6px 0;
    font-size: 18px;
}

/* Pagination */
.pagination {
    margin: 18px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.pagination div {
    display: flex;
    flex-wrap: wrap;
}

.pagination div ul {
    display: flex;
    flex-wrap: wrap;
}

.pagination div ul li {
    margin: 0 6px;
}

.pagination div ul li a {
    font-size: 18px;
    font-weight: bold;
}

.page {
    padding: 4px 12px;
    background-color: var(--primary-color);
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
}

/* Footer */

.footer {
    margin-top: 20px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background: #F3F6FA;
    padding-top: 70px;
    padding-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.location-box {
    width: 500px;
    margin: 0 60px;
}

.loc-link {
    margin: 6px 2px;
}

.loc-link a {
    font-size: 16px;
    font-weight: 500;
}


.newsletter-box {
    width: 800px;
}

.newsletter-box p {
    margin-top: 10px;
}

.newsletter-box form {
    margin-top: 20px;
}

.newsletter-box form input {
    width: 80%;
    font-size: 16px;
    padding-left: 20px;
    color: #1c1c1c;
    height: 46px;
    border: 1px solid #ededed;
}

.newsletter-box form button {
    position: absolute;
    height: 45px;
    margin-left: -80px;
    padding: 0 40px;
    background-color: var(--primary-color);
}

.media-box {
    width: 240px;
}

.media {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.media li img {
    width: 100%;
}

.copy {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.copy p {
    text-align: center;
}

.copyright {
    width: 100%;
    text-align: center;
    transition: 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.copyright:hover {
    font-size: 2rem;
}



/* Cart */

.cart-box {
    width: 80%;
    margin: auto 10%;
    background-color: var(--primary-color);
    border-radius: 12px;
    padding: 12px 40px;
    margin: 30px auto;
}

.cart-item {
    display: flex;
}

.cart-link {
    width: 60%;
    background-color: gainsboro;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.prix, .piece, .title {
    font-size: 2rem;
    font-weight: bold;
}

.title {
    margin-left: 20%;
}

.product-add {
    margin-left: 40px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.add {
    padding: 20px 60px;
    font-size: 1.4rem;
    color: var(--primary-color);
}

.valider {
    color: white;
    background-color: #141414;
}

.total {
    width: 100%;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}


/* Connexion */

.connect-container {
    border-radius: 6px;
    background-color: var(--secondary-color);
    width: 80%;
    height: 90vh;
    margin: auto 10%;
    /* position: absolute; */
    display: flex;
    flex-direction: row;
}

.left {
    width: 40%;
}

.lines {
    width: 6px;
    background-color: var(--primary-color);
    height: 90%;
    margin: 5% auto;
}

.logo-img {
    width: 100%;
    height: 100%;
    background-image: url("../../src/img/logo.png");
    background-size: contain;
}


.form-box {
    width: 60%;
    display: flex;
    flex-direction: column;

}

.input-box {
    margin: 20px ;
    height: 120px;
    display: flex;
    flex-direction: column;
}

.input-box label {
    font-size: 2rem;
    font-weight: 600;
}

.input-box input {
    width: 80%;
    height: 70px;
    border-radius: 25px;
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--primary-color);
    padding-left: 60px;
}

.form-validate {
    width: 60%;
    margin: 15%;
    height: 90px;
    font-size: 1.8rem;
    color: #141414;
    transition: .6s;
}

.form-validate:hover {
    background-color: var(--primary-color);
}